In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
df=pd.read_csv('scaled_data.csv')

In [3]:
df

,Unnamed: 0,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age,total_spent,parent,total_accepted_coupons,number_of_total_purchases
0,0,-0.89438,1.347635,0.288513,-0.824939,-0.930615,0.306856,0.983228,1.554170,1.679746,...,-0.279482,-0.262362,-0.116616,-0.095001,2.386338,1.016868,1.680176,-1.264308,-0.438933,1.319340
1,1,-0.89438,1.347635,-0.262438,1.032627,0.905974,-0.383971,-0.871064,-0.636431,-0.713455,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,1.273264,-0.962202,1.395139,-0.438933,-1.155857
2,2,-0.89438,-0.742041,0.917992,-0.824939,-0.930615,-0.798467,0.362159,0.572177,-0.177201,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,0.333146,0.282541,-1.264308,-0.438933,0.798246
3,3,-0.89438,-0.742041,-1.182621,1.032627,-0.930615,-0.798467,-0.871064,-0.560893,-0.651409,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,-1.290693,-0.918994,0.065416,-0.438933,-0.895310
4,4,0.57070,-0.742041,0.295754,1.032627,-0.930615,1.550344,-0.389661,0.421101,-0.217088,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,-1.034298,-0.305762,0.065416,-0.438933,0.537699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,2231,-0.89438,-0.742041,0.432628,-0.824939,0.905974,-0.107640,1.203128,0.421101,0.066551,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,0.162216,1.221499,0.065416,-0.438933,0.407425
2232,2232,0.57070,-0.742041,0.563008,2.890194,0.905974,0.237773,0.302727,-0.661610,-0.607091,...,-0.279482,3.811532,-0.116616,-0.095001,-0.419052,1.956986,-0.269201,2.724862,1.034721,0.928519
2233,2233,-0.89438,1.347635,0.234465,-0.824939,-0.930615,1.446720,1.794481,0.546997,0.221666,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,-1.034298,1.055312,-1.264308,1.034721,0.537699
2234,2234,0.57070,-0.742041,0.807372,-0.824939,0.905974,-1.420212,0.368102,0.093769,0.208371,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,1.102333,0.393886,0.065416,-0.438933,1.058793
2235,2235,0.57070,-0.742041,0.042374,1.032627,0.905974,-0.314889,-0.654136,-0.586072,-0.469703,...,-0.279482,-0.262362,-0.116616,-0.095001,2.386338,1.273264,-0.721231,1.395139,-0.438933,-0.504489

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head(2)

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,Age,total_spent,parent,total_accepted_coupons,number_of_total_purchases
0,-0.89438,1.347635,0.288513,-0.824939,-0.930615,0.306856,0.983228,1.554170,1.679746,2.461068,...,-0.279482,-0.262362,-0.116616,-0.095001,2.386338,1.016868,1.680176,-1.264308,-0.438933,1.319340
1,-0.89438,1.347635,-0.262438,1.032627,0.905974,-0.383971,-0.871064,-0.636431,-0.713455,-0.650414,...,-0.279482,-0.262362,-0.116616,-0.095001,-0.419052,1.273264,-0.962202,1.395139,-0.438933,-1.155857

## Dimension Reductionality